@font-face {
  font-family: "KBO Dia Gothic_medium";
  font-weight: normal;
  src: url("./fonts/KBO\ Dia\ Gothic_TTF/KBO Dia Gothic_medium.ttf") format("truetype");
}

* {
  font-family: "KBO Dia Gothic_medium";
}
