.headContainer {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1;
  background-color: #fefffd;
  border-bottom: 1px solid #EBEBEB;
  opacity: 80%;
}

.btnLogin {
  font-size: 17px;
  margin: 10px;
  padding: 10px 20px;
}

.btnLogin:hover {
  color: #3a7934;
}

.logo {
  height: 55px;
  margin: 10px;
}
