.dict-menu-container {
  position: absolute;
  top: 520px;
  left: -230px;
  width: 200px;
  height: 150px;
}

.dict-menu-trigger img {
  position: relative;
  top: 50px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dict-menu-heading {
  position: absolute;
  top: 120px;
  right: 130px;
  font-size: 17px;
  white-space: nowrap;
}

.dict-dropdown-menu {
  position: absolute;
  top: -10px;
  left: 90px;
  background-color: #fff;
  border: 2px solid #574919;
  padding: 10px 20px;
  width: 200px;
}

.dict-dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dict-dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dict-dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dict-dropdown-heading {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
}

.dict-dropdown-menu ul li {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dict-dropdown-menu ul li:hover a {
  color: #5c9b57;
  cursor: pointer;
}

.dict-dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dict-dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dict-dropdownItem img {
  max-width: 30px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dict-dropdownItem a {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}
