.dict-menu-container {
  position: absolute;
  top: 580px;
  left: -230px;
  width: 200px;
  height: 150px;
}

.dict-menu-trigger img {
  position: relative;
  top: 50px;
  height: 65px;
  width: 65px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.dict-menu-trigger img:hover {
  opacity: 1;
}

.dict-menu-heading {
  position: absolute;
  top: 120px;
  right: 130px;
  font-size: 17px;
  white-space: nowrap;
}

.dict-dropdown-menu {
  position: absolute;
  left: 90px;
  background-color: #fff;
  border: 2px solid #574919;
  padding: 10px 20px;
  width: 200px;
  transition: all 0.3s;
}

.dict-dropdown-menu.active {
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.dict-dropdown-menu.inactive {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-20px);
}

.dict-dropdown-heading {
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
}

.dict-dropdown-menu ul li {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dict-dropdown-menu ul li:hover a {
  color: #5c9b57;
  cursor: pointer;
  transition: all 0.3s;
}
