.record-menu-container {
  position: absolute;
  top: 760px;
  left: -50px;
  width: 200px;
  height: 100px;
}

.record-menu-trigger img {
  position: relative;
  top: 15px;
  left: 15px;
  height: 65px;
  width: 65px;
  overflow: hidden;
  cursor: pointer;
}

.record-menu-heading {
  position: absolute;
  top: 90px;
  left: 10px;
  font-size: 17px;
  white-space: nowrap;
}

.record-dropdown-menu {
  position: absolute;
  top: -40px;
  left: 110px;
  background-color: #fff;
  border: 2px solid #574919;
  padding: 10px 20px;
  width: 200px;
}

.record-dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
}

.record-dropdown-menu.active {
  opacity: 1;
  visibility: visible;
}

.record-dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
}

.record-dropdown-heading {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
}

.record-dropdown-menu ul li {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.record-dropdown-menu ul li:hover a {
  color: #5c9b57;
  cursor: pointer;
}
